<!doctype html>
<html class="no-js" lang="en">
  <head>
      <meta charset="utf-8">
      
      <!--====== Title ======-->
      <title>{{ title }}</title>
      
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!--====== Favicon Icon ======-->
      <link rel="shortcut icon" href="images//favicon.png" type="image/png">
          
      <!--====== Animate CSS ======-->
      <link rel="stylesheet" href="stylesheets/animate.css">
          
      <!--====== Magnific Popup CSS ======-->
      <link rel="stylesheet" href="stylesheets/magnific-popup.css">
          
      <!--====== Slick CSS ======-->
      <link rel="stylesheet" href="stylesheets/slick.css">
          
      <!--====== Line Icons CSS ======-->
      <link rel="stylesheet" href="stylesheets/LineIcons.css">
          
      <!--====== Font Awesome CSS ======-->
      <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
          
      <!--====== Bootstrap CSS ======-->
      <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
      
      <!--====== Default CSS ======-->
      <link rel="stylesheet" href="stylesheets/default.css">
      
      <!--====== Style CSS ======-->
      <link rel="stylesheet" href="stylesheets/style.css">
      
  </head>

  <body>
      <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->    
    
    
      <!--====== PRELOADER PART START ======-->

      <div class="preloader">
          <div class="loader">
              <div class="ytp-spinner">
                  <div class="ytp-spinner-container">
                      <div class="ytp-spinner-rotator">
                          <div class="ytp-spinner-left">
                              <div class="ytp-spinner-circle"></div>
                          </div>
                          <div class="ytp-spinner-right">
                              <div class="ytp-spinner-circle"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      {{{ body }}}

      <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

      <!--====== BACK TOP TOP PART ENDS ======-->   
      
      <!--====== PART START ======-->
      

      <!--====== Jquery js ======-->
      <script src="javascripts/vendor/jquery-1.12.4.min.js"></script>
      <script src="javascripts/vendor/modernizr-3.7.1.min.js"></script>
      
      <!--====== Bootstrap js ======-->
      <script src="javascripts/popper.min.js"></script>
      <script src="javascripts/bootstrap.min.js"></script>
      
      <!--====== Plugins js ======-->
      <script src="javascripts/plugins.js"></script>
      
      <!--====== Slick js ======-->
      <script src="javascripts/slick.min.js"></script>
      
      <!--====== Ajax Contact js ======-->
      <script src="javascripts/ajax-contact.js"></script>
      
      <!--====== Counter Up js ======-->
      <script src="javascripts/waypoints.min.js"></script>
      <script src="javascripts/jquery.counterup.min.js"></script>
      
      <!--====== Magnific Popup js ======-->
      <script src="javascripts/jquery.magnific-popup.min.js"></script>
      
      <!--====== Scrolling Nav js ======-->
      <script src="javascripts/jquery.easing.min.js"></script>
      <script src="javascripts/scrolling-nav.js"></script>
      
      <!--====== wow js ======-->
      {{!-- <script src="javascripts/wow.min.js"></script> --}}
      
      <!--====== Particles js ======-->
      <script src="javascripts/particles.min.js"></script>
      
      <!--====== Main js ======-->
      <script src="javascripts/main.js"></script>
      
  </body>
</html>